* {
	box-sizing: border-box;
}
body {
	height: 100vh;
	margin: 0 auto;
	font-family: 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
}
.container {
	width: 100%;
	height: 100%;
}
.hero {
	height: 80%;
	max-height: 520px;
	background: #f5f3f4;
}
.header {
	display: flex;
	justify-content: flex-end;
	margin: 0 45px;
}
.header ul {
	display: flex;
	align-items: center;
}
.header ul li {
	list-style: none;
	margin: 0 25px;
}
.header ul li a {
	text-decoration: none;
	color: #3e3e3e;
}
.header ul li a:hover {
	color: #ea1d2c;
}
.header ul li:last-child {
	background: #fff;
	padding: 15px 45px;
	margin: 0 0 0 25px;
	border-radius: 5px;
	border: 1px solid #dcdcdc;
	color: #ea1d2c;
	font-weight: 500;
}
.header ul li:last-child:hover {
	background: #ea1d2c;
	color: #fff;
}
.bg {
	display: flex;
	height: 100%;
	padding-bottom: 20px;
}
.left img {
	position: absolute;
	width: 400px;
	top: 0;
	left: 0;
}
.left .svg {
	width: 160px;
	height: 180px;
	left: 71px;
	top: 257px;
}

.right img {
	position: absolute;
	width: 240px;
	top: 204px;
	right: 0;
}
.right .svg {
	width: 198px;
	height: 172px;
	right: 138px;
	top: 106px;
	transform: rotate(-8deg);
}
.content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.content .logo {
	width: 120px;
}
.content h2 {
	font-size: 2.5rem;
	color: #3e3e3e;
	font-weight: 600;
	margin: 20px 0;
}
.content h2 span {
	color: #ea1d2c;
}
.content p {
	font-size: 1.25rem;
	color: #3e3e3e;
	font-weight: 500;
}
.form {
	width: 100%;
	max-width: 780px;
	display: flex;
}
.form .search {
	width: 100%;
	max-width: 650px;
	background: #fff;
	height: 50px;
	border-radius: 4px;
	margin-right: 20px;
	display: flex;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
}
.form .search img {
	width: 26px;
	margin: 0 20px;
}
.form .search input {
	width: 100%;
	background: transparent;
	border: 0;
	outline: none;
	font-size: 1rem;
}
.form .search input::placeholder {
	font-size: 1rem;
	font-weight: 400;
	color: #a6a6a6;
}
.form button {
	width: 210px;
	background: #ea1d2c;
	color: #fff;
	font-weight: 400;
	border: 0;
	border-radius: 4px;
}
.form button:hover {
	background: #c2121f;
}
.tags {
	margin: 30px 0;
}
.tags span {
	font-size: 0.875rem;
	font-weight: 400;
	color: #818181;
	border: 1px solid #ccc;
	padding: 4px;
	border-radius: 3px;
	margin: 6px;
}
.banner {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.banner img {
	width: 100%;
	max-width: 390px;
	margin: 0 10px;
	transition: 0.2s;
}
.banner img:hover {
	transform: scale(1.02);
}
.footer {
	margin: 20px;
	border-top: 1px solid #dcdcdc;
	display: flex;
	padding: 20px 0;
}
.footer img {
	width: 50px;
}
.footer span {
	font-size: 0.8125rem;
	color: #818181;
	margin: 0 20px;
}
